---
title: External DSLs In Ruby Using SQL
---

.welcome
  %h1 External DSLs in Ruby using SQL
  %p.doc= link_to "github repo", "https://github.com/baroquebobcat/external_ruby_dsl_workshop"
  %p.doc= link_to "Curriculum", "curriculum.html"
  %p.doc= link_to "Slides", "slides.html"