---
title: Slides
layout: presentation
---
%section
  %h1 External DSLs in Ruby
%section
  1+2
%section
  %h1
    :graphviz
      digraph hello {
        bgcolor="transparent"
        plus[label="+"];
        plus -> 1;
        plus -> 2;
      }